html,
body {
    margin: 2.4rem 0 0 0;
    padding: 0;
    background-color: #eaeaea;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #444444;
}

/* BASE */

/* navbar */

.navbar {
    border-bottom: #070bc0 0.05rem solid;
    background-color: #c3c6ca;
}

.navbar-light .navbar-nav .nav-link {
    color: #080d84c7;
}

.navbar-nav .nav-link:hover {
    color: #21254e;
    font-weight: 400;
    font-size: 1.1em;
}

.navbar-nav .nav-link.active {
    font-weight: 500;
}

/* background for templates */

.template-container {
    background-color: #eaeaea;
}