{% macro render_field(field_name) %}

<div class="form-group">
    {{ field_name.label(class="form-control-label") }}
    {% if field_name.errors %}
    {{ field_name(class="form-control form-control-lg is-invalid") }}
    <div class="invalid-feedback">
        {% for error in field_name.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ field_name(class="form-control form-control-lg", **kwargs)|safe }}
    {% endif %}
</div>
{% endmacro %}

{% macro render_file_field(file_field_name) %}
<div class="form-group">
    {% if file_field_name.errors %}
    {{ file_field_name(class="form-control-file is-invalid") }}
    <div class="invalid-feedback">
        {% for error in file_field_name.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ file_field_name(class="form-control-file", **kwargs)|safe }}
    {{ file_field_name.label(class="form-control-label") }}
    {% endif %}
</div>
{% endmacro %}

{% macro render_select_field(select_field_name) %}
<div class="form-group">
    {{ select_field_name.label(class="form-control-label") }}
    {% if select_field_name.errors %}
    {{ select_field_name(class="form-control form-control-lg is-invalid") }}
    <div class="invalid-feedback">
        {% for error in select_field_name.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ select_field_name(class="form-control form-control-lg", **kwargs)|safe }}
    {% endif %}
</div>
{% endmacro %}