{% extends 'layout/base.html' %}

{% from 'pages/_formhelpers.html' import render_file_field %}

{% block content %}

<div class="container mt-5">
    <section class="section-content">
        <legend class="text-center legend-border mb-4">Update Your Account Image</legend>
        <form action="{{url_for('insert_account_image', user_id=user_id)}}" method="POST" enctype="multipart/form-data"
            accept="image/*" id="upload-image" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="input-group">
                {{ render_file_field(form.image, oninput="filesize(this)") }}
            </fieldset>
            <div class="input-group mt-2">
                {{ form.recaptcha }}
            </div>
            <div class="input-group mt-2">
                {{ form.submit(class="btn btn-outline-primary btn-sm") }}
                <a type="button" class="btn btn-outline-danger btn-sm ml-2" id="cancel-image"
                    href="{{ url_for('dashboard') }}">Cancel</a>
            </div>
        </form>
    </section>
</div>


{% endblock content %}