{% extends 'layout/base.html' %}

{% from 'pages/_formhelpers.html' import render_field %}

{% block content %}

<div class="container mt-3">
    <section class="section-content">
        <legend class="text-center legend-border mb-4">{{ legend }}</legend>
        <form action="{{url_for('add_project')}}" method="post" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                {{ render_field(form.title, autofocus=true) }}
                {{ render_field(form.status) }}
                {{ render_field(form.deadline) }}
                {{ render_field(form.brief) }}
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-primary btn-sm") }}
            </div>
        </form>
    </section>
</div>
{{ ckeditor.load() }}
{{ ckeditor.config(name='brief') }}


{% endblock %}