{% extends 'layout/base.html' %}
{% block content %}

<div class="container mt-3">
    <section class="section-content">
        <legend class="text-center legend-border mb-4">{{ legend }}</legend>
        <form action="{{url_for('add_project')}}" method="post" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.status.label(class="form-control-label") }}
                    {% if form.status.errors %}
                    {{ form.status(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.status.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.status(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group" name="daterange" type="date">
                    {{ form.deadline.label(class="form-control-label") }}
                    {% if form.deadline.errors %}
                    {{ form.deadline(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.deadline.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.deadline(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.brief.label(class="form-control-label") }}
                    {% if form.brief.errors %}
                    {{ form.brief(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.brief.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.brief(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-primary btn-sm") }}
            </div>
        </form>
    </section>
</div>
{{ ckeditor.load() }}
{{ ckeditor.config(name='brief') }}


{% endblock %}