{% extends 'layout/base.html' %}
{% block content %}

<div class="container mt-3">
    <section class="section-content neu">
        <legend class="text-center legend-border mb-4">{{ legend }}</legend>
        <form action="{{ url_for('add_profile') }}" method="post" novalidate>
            {{ profile_form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.headline.label(class="form-control-label") }}
                    {% if form.headline.errors %}
                    {{ form.headline(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.headline.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.headline(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.bio.label(class="form-control-label") }}
                    {% if form.bio.errors %}
                    {{ form.bio(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in profile_form.bio.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.bio(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.xp.label(class="form-control-label") }}
                    {% if form.xp.errors %}
                    {{ form.xp(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in profile_form.xp.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.xp(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.interests.label(class="form-control-label") }}
                    {% if form.interests.errors %}
                    {{ form.interests(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in profile_form.interests.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.interests(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ profile_form.submit(class="btn btn-outline-primary btn-sm") }}
            </div>
        </form>
    </section>
</div>

{{ ckeditor.load() }}
{{ ckeditor.config(name='bio') }}

{% endblock %}