{% extends 'layout/base.html' %}

{% from 'pages/_formhelpers.html' import render_field %}
{% from 'pages/_formhelpers.html' import render_select_field %}

{% block content %}

<div class="container mt-3">
    <section class="section-content neu">
        <legend class="text-center legend-border mb-4">{{ legend }}</legend>
        <form action="{{ url_for('add_profile') }}" method="post" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                {{ render_field(form.headline, autofocus=true) }}
                {{ render_field(form.bio) }}
                {{ render_field(form.xp) }}
                {{ render_field(form.interests) }}
            </fieldset>
            <fieldset class="form-group">
                {{ render_select_field(form.stack, multiple=true) }}
                {{ render_select_field(form.languages, multiple=true) }}
                {{ render_select_field(form.frameworks, multiple=true) }}
            </fieldset>
            <fieldset class="form-group">
                {{ render_field(form.github) }}
                {{ render_field(form.linkedin) }}
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-primary btn-sm") }}
            </div>
        </form>
    </section>
</div>

{{ ckeditor.load() }}
{{ ckeditor.config(name='bio') }}

{% endblock %}