{% extends 'layout/base.html' %}
{% block content %}

<div class="container mt-5">
    <section class="section-content neu">
        <legend class="text-center border-bottom mb-4">Add Project Piece</legend>
        <form action="{{url_for('add_piece')}}" method="post" novalidate>
            <fieldset>
                {{ piece.hidden_tag() }}
                <div class="form-group">
                    {{ piece.task.label(class="form-control form-control-lg") }}
                    {% if piece.task.errors %}
                    {{ piece.task(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in piece.task.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ piece.task(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ piece.description.label(class="form-control form-control-lg") }}
                    {% if piece.description.errors %}
                    {{ piece.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in piece.description.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ piece.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ piece.status.label(class="form-control form-control-lg") }}
                    {% if piece.description.errors %}
                    {{ piece.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in piece.description.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ piece.status(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ piece.username.label(class="form-control form-control-lg") }}
                    {% if piece.username.errors %}
                    {{ piece.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in piece.username.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ piece.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ piece.add_piece(class="btn btn-outline-info") }}
            </div>
        </form>
    </section>
</div>

{% endblock %}