{% extends 'layout/base.html' %}
{% block content %}
<div class="container mt-5">
    <section class="section-content neu">
        <legend class="text-center border-bottom mb-4">Read The Lastest Content</legend>
        <div class="accordion">
            {% for article in articles %}
            <div id="blog-accordion" class="accordion-label"><span class="title">
                    {{ article.title }}
                </span> <br>By {{ article.author }} on
                {{ article.post_date }}</div>
            <div class="accordion-content">
                <p>{{ article.content }}</p>
            </div>
            <hr>
            {% endfor %}
        </div>
    </section>
</div>



{% endblock content %}