{% extends 'layout/base.html' %}
{% block content %}

<div class="container mt-3" id="dashboard">
    <section id="dashboard">
        <legend class="legend-border text-center">{{ session['username'] }}'s Dashboard</legend>

        <nav class="dash-nav">
            <ul class="dash-tabs" role="tablist">
                <li><a class="tab-item dropdown-toggle" role="tab" data-toggle="collapse">Articles</a>
                    <ul class="tabs-dropdown">
                        <li><a class="tablink tab-item tab-link" onclick="openTab(event, 'articles')">My Articles</a>
                        </li>
                        <li><a class="tab-item tab-link" href="{{ url_for('add_article') }}">New Article</a></li>
                    </ul>
                </li>
                <li><a class="tab-item data-toggle dropdown-toggle" role="tab" data-toggle="collapse">Profile</a>
                    <ul class="tabs-dropdown">
                        <li><a class="tablink tab-item tab-link" onclick="openTab(event, 'profile')">My Profile</a>
                        </li>
                        {% if profile %}
                        <li><a class="tab-item tab-link"
                                href="{{ url_for('edit_profile', profile_id=profile._id) }}">Update profile</a></li>
                        <li><a class="tab-item tab-link" id="delete-profile-modal" data-toggle="modal"
                                data-target="#deleteProfile">Delete Profile
                            </a></li>
                        <!-- only visible if no profile was found matching the logged in user's user_id  -->
                        {% else %}
                        <li><a class="tab-item tab-link" href="{{ url_for('add_profile') }}">Add profile</a></li>
                        {% endif %}
                        <li><a class="tablink tab-item tab-link" onclick="openTab(event, 'snt_profile_msgs')">Sent
                                Profile
                                messages</a>
                        </li>
                        <li><a class="tablink tab-item tab-link" onclick="openTab(event, 'rcvd_profile_msgs')">Received
                                Profile
                                messages</a>
                        </li>
                        <li><a class="tab-item tab-link" href="{{ url_for('update_password') }}">Update password</a>
                        </li>
                        <li><a class="tab-item tab-link" href="{{ url_for('add_account_image') }}">Update Profile
                                Image</a>
                        </li>

                    </ul>
                </li>
                <li><a class="tab-item dropdown-toggle" role="tab" data-toggle="collapse">Projects</a>
                    <ul class="tabs-dropdown">
                        <li><a class="tablink tab-item tab-link" onclick="openTab(event, 'projects')">My Projects</a>
                        </li>
                        <li><a class="tab-item tab-link" href="{{ url_for('add_project') }}">Add Project</a></li>
                        <li><a class="tablink tab-item tab-link" onclick="openTab(event, 'rcvd_project_msgs')">Received
                                Project
                                Messages</a></li>
                        <li><a class="tablink tab-item tab-link" onclick="openTab(event, 'snt_project_msgs')">Sent
                                Project
                                Messages</a></li>

                        <li><a class="tablink tab-item tab-link" onclick="openTab(event, 'rcvd_pieces')">Received
                                Pieces</a></li>
                        <li><a class="tablink tab-item tab-link" onclick="openTab(event, 'snt_pieces')">Sent
                                Pieces</a></li>
                    </ul>
                </li>
            </ul>
            {% if user.profile_image %}
            <div id="div-profile-image"><a class="navbar-image mr-4" href="{{ url_for('add_account_image') }}"><img
                        src="{{ image_file }}" alt="{{ user.profile_image }}" width="50" height="50"></a>
            </div>
            {% else %}

            <div id="div-profile-image"><a class="navbar-image mr-4" href="{{ url_for('add_account_image') }}"><img
                        src="{{ url_for('static', filename='uploads/accountimage/gear-avatar.png') }}"
                        alt="{{ image_file }}" width="50" height="50"></a>
            </div>
            {% endif %}
        </nav>
        <!-- Delete Profile Modal -->
        <div class="modal fade" id="deleteProfile" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="color:red;">WARNING</h4>
                    </div>
                    <div class="modal-body">
                        <p>This process is immediate and cannot be undone. Are you sure?</p>
                        <!-- Button to confirm delete article -->
                        <form action="{{ url_for('delete_profile', profile_id=profile._id) }}" method="post">
                            <input id="delete-profile-btn" class="btn btn-outline-primary btn-sm" type="submit"
                                value="Confirm Delete">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- DASHBAORD TAB CONTENT -->
        <div id="dash-tabs">
            <!-- ARTICLE TAB CONTENT -->
            <div id="articles" class="tabcontent">
                <div class="container">
                    {% if articles %}
                    <div class="accordion">
                        {% for article in articles %}
                        <div class="accordion-label"><span class="title">
                                {{ article.title }}
                            </span><br><span class="secondary-title">{{ article.date.strftime('%d, %B %Y') }}</span>
                        </div>
                        <div class="accordion-content">
                            <div>
                                <a href="{{ url_for('edit_article', article_id=article._id) }}" type="button"
                                    class="btn btn-outline-primary btn-sm mt-1 mb-1">Edit</a>
                                <button class="btn btn-outline-danger btn-sm" type="button" id="delete-article-modal"
                                    data-toggle="modal" data-target="#deleteArticle">Delete
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="deleteArticle" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title" style="color:red;">WARNING</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>This process is immediate and cannot be undone. Are you sure?</p>
                                                <!-- Button to confirm delete article -->
                                                <form action="{{ url_for('delete_article', article_id=article._id) }}"
                                                    method="post">
                                                    <input class="btn btn-outline-primary btn-sm" type="submit"
                                                        value="Confirm Delete">
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-danger btn-sm"
                                                    data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>{{ article.content|safe }}</div>
                            <div>
                                <div id="dash-article-comments">
                                    <ul><span class="comments">Comments: </span>
                                        {% if article.comments %}
                                        {% for comment in article.comments %}
                                        <li class="secondary-title">On {{ comment.date.strftime('%d, %B %Y') }},
                                            {{ comment.username }}
                                            wrote: <br>
                                            <p>{{ comment.text }}</p>
                                        </li>
                                        {% if not loop.last %}
                                        <hr>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                    {% else %}
                                    <p>There are no comments on this post.</p>
                                    {% endif %}
                                    <div>
                                        <button id="dash-comment-btn{{ loop.index }}"
                                            class="comment-btn btn btn-outline-secondary btn-sm mb-1"
                                            type="button">Close</button>
                                        <div class="form-box show">
                                            <div class="form-group">
                                                <form action="{{ url_for('add_comment', article_id=article._id) }}"
                                                    method="post">
                                                    <div class="form-group">
                                                        <textarea class="form-control mt-2" name="comment"
                                                            id="comment{{ loop.index }}" rows="2" required></textarea>
                                                    </div>
                                                    <button type="submit"
                                                        class="btn btn-outline-primary btn-sm mt-1 mb-1">Post
                                                        comment</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if not loop.last %}
                        <hr>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <div class="col-sm-12 text-center">
                            <p>Your blog articles will appear here.</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- /END OF ARTICLE TAB CONTENT -->

            <!-- PROFILE TAB CONTENT -->
            <!-- Profile  -->
            <div id="profile" class="tabcontent">
                <div class="container">
                    {% if profile %}
                    <div class="row">
                        <div class="col-12 secondary-title text-center mt-2">
                            <p>Last updated: {{ profile.date.strftime('%d, %B %Y') }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul>Headline:
                                <li>{{ profile.headline }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul>Bio:
                                <li>{{ profile.bio|safe }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <ul>Languages:
                                {% for lang in profile.languages %}
                                <li>{{ lang }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul>Frameworks:
                                {% for item in profile.frameworks %}
                                <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul>Links:
                                {% for link in profile.personal_links %}
                                {% for key, value in link.items() %}
                                <li>{{ key }}: {{ value }}</li>
                                {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-sm-12 text-center">
                        <p>If you create a profile it will appear here.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- End of Profile -->

            <!-- Received Profile Messages -->
            <div id="rcvd_profile_msgs" class="tabcontent">
                <div class="container">
                    {% if rcvd_profile_msgs %}
                    <h5>Received Profile Messages</h5>
                    <hr>
                    {% for message in rcvd_profile_msgs %}
                    <ul>
                        <li>On {{ message.date.strftime('%d, %B %Y') }}, {{ message.from_user }} wrote: <br>
                            {{ message.text }}
                        </li>
                        {% if not loop.last %}
                        <hr>
                        {% endif %}
                    </ul>
                    {% endfor %}
                    {% else %}
                    <p class="text-center">You haven't received any profile messages yet.</p>
                    {% endif %}
                </div>
            </div>
            <!-- Sent Profile Messages -->
            <div id="snt_profile_msgs" class="tabcontent">
                <div class="container">
                    {% if snt_profile_msgs %}
                    <h5>Sent Profile Messages</h5>
                    <hr>
                    {% for message in snt_profile_msgs %}
                    <ul>
                        <li>On {{ message.date.strftime('%d, %B %Y') }}, you wrote to {{ message.to_user }}: <br>
                            {{ message.text }}
                        </li>
                        {% if not loop.last %}
                        <hr>
                        {% endif %}

                    </ul>
                    {% endfor %}
                    {% else %}
                    <p class="text-center">You haven't sent any profile messages yet.</p>
                    {% endif %}
                </div>
            </div>
            <!-- /End of Sent Profile Messages -->
            <!-- /END OF PROFILE MESSAGES -->
            <!-- /END OF PROFILE TAB CONTENT -->

            <!-- PROJECT TAB CONTENT -->
            <!-- Projects  -->
            <div id="projects" class="tabcontent">
                <div class="container">
                    {% if  projects %}
                    {% for project in projects %}
                    <div class="accordion">
                        <div id="project-accordion" class="accordion-label"><span class="title">
                                {{ project.title }}</span><br>
                            <span secondary-title>Post date:
                                {{ project.date.strftime('%d %B, %Y') }}</span>
                        </div>
                        <div class="accordion-content">
                            <a href="{{ url_for('add_piece', project_id=project._id) }}" id="project-btn-piece"
                                type="button" class="btn btn-outline-info btn-sm mb-1">Add piece</a>
                            <a href="{{ url_for('edit_project', project_id=project._id) }}"
                                id="project-btn-edit{{ loop.index }}" type="button"
                                class="btn btn-outline-primary btn-sm mb-1">Edit</a>
                            <button class="btn btn-outline-danger btn-sm mb-1" type="button"
                                id="delete-project-modal{{ loop.index }}" data-toggle="modal"
                                data-target="#deleteProject">Delete
                            </button>
                            <!-- Modal to Delete Project -->
                            <div class="modal fade" id="deleteProject{{ loop.index }}" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title" style="color:red;">WARNING</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>This process is immediate and cannot be undone. Are you sure?</p>
                                            <!-- Button to confirm delete project -->
                                            <form action="{{ url_for('delete_project', project_id=project._id) }}"
                                                method="post">
                                                <input id="delete-project-btn{{ loop.index }}"
                                                    class="btn btn-outline-success btn-sm" type="submit"
                                                    value="Confirm Delete">
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-danger btn-sm"
                                                data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p>Current status: {{ project.status }}</p>
                            </div>
                            <div>
                                <p>Project deadline: {{ project.deadline.strftime('%d %B, %Y') }}</p>
                            </div>
                            <div>
                                <p>Project description: {{ project.brief|safe }}</p>
                            </div>
                            <div>
                                <p>Notes:
                                    {% if project.note %}
                                    {{ project.note }}
                                    {% else %}
                                    No notes included with this project.
                                    {% endif %}
                                </p>
                            </div>
                            <div>
                                <p>Project files:
                                    {% if project.file_upload %}
                                    {{ project.file_upload }}
                                    {% else %}
                                    No File uploads for this project.
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        {% if not loop.last %}
                        <hr>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <div class="col-sm-12 text-center">
                            <p>All your project pieces will appear here when you create them.</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- End of Projects -->
            </div>


            <!-- Project Messages -->
            <!-- Received Project Messages -->
            <div id="rcvd_project_msgs" class="tabcontent">
                <div class="container">
                    {% if rcvd_project_msgs %}
                    <ul>
                        <h5>Received Project Messages</h5>
                        <hr>
                        {% for message in rcvd_project_msgs %}
                        <li>On {{ message.date.strftime('%d, %B %Y') }}, {{ message.from_user }} wrote: <br>
                            {{ message.text }}
                        </li>
                        {% if not loop.last %}
                        <hr>
                        {% endif %}
                    </ul>
                    {% endfor %}

                    {% else %}
                    <p class="text-center">You haven't received any project messages yet.</p>
                    {% endif %}
                </div>
            </div>
            <!-- Sent Project Messages -->
            <div id="snt_project_msgs" class="tabcontent">
                <div class="container">
                    {% if snt_project_msgs %}
                    <ul>
                        <h5>Sent Project Messages</h5>
                        <hr>
                        {% for message in snt_project_msgs %}
                        <li>On {{ message.date.strftime('%d, %B %Y') }}, you wrote to {{ message.to_user }}: <br>
                            {{ message.text }}
                        </li>
                        {% if not loop.last %}
                        <hr>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class="text-center">You have not sent any project messages yet.</p>
                    {% endif %}
                </div>
            </div>
            <!-- /End of Sent Project Messages -->
            <!-- /End of Project Messages -->

            <!-- PROJECT PIECES -->
            <!-- Sent Pieces -->
            <div id="snt_pieces" class="tabcontent">
                <div class="container mt-2">
                    {% if snt_pieces %}{# outer if else collection not empty check #}
                    <h5 class="text-center mb-2">Your current project pieces with collaborators</h5>

                    <!-- sent new not yet accepted -->
                    <div class="text-center mt-3">
                        <h5>New Pieces</h5>
                        <p><small><em>Pieces that appear here have not yet been accepted. When your collaborator accepts
                                    them they undertake to start working on them.</em></small></p>
                    </div>
                    <hr>

                    <div class="mb-2 border-bottom">
                        {% for piece in snt_pieces if piece.status == 'pending acceptance' %} {# outer for loop #}
                        <ul> {{ loop.index }}.
                            <li>
                                <p>You assigned this project piece to {{ piece.assignee }}, on
                                    {{ piece.date.strftime('%d %B, %Y') }}.</p>
                                <p><span class='field'>'{{ piece.project_title }}'</span></p>
                                <p><span class='field'>Task name:</span> {{ piece.task }}</p>
                                <p><span class="field">Due date:</span> {{ piece.due_date.strftime('%d %B, %Y') }}
                                </p>
                                <p><span class='field'>Task Brief: </span> <br>
                                    You provided the following brief and information regarding your
                                    expectations for this piece:<br>
                                    {{ piece.description }}
                                </p>
                                {% if piece.comment %}
                                <p><span class='field'>Personal Note: </span> <br>
                                    {{ piece.comment }}
                                </p>
                                {% endif %}

                                <div><small class="text-muted">
                                        <i><a class="ml-2" href="#">Do you want to send a message to
                                                {{ piece.assignee }}?</a></i>
                                    </small></div>
                                {% if not loop.last %}
                                <hr>
                                {% endif %}
                            </li>
                        </ul>
                        {% else %}
                        <p>Currently, you don't have any pieces pending acceptance.</p>
                        {%- endfor %}
                    </div>

                    <!-- sent and accepted -->
                    <div class=" text-center mt-3 mb-2">
                        <h5>Accepted Pieces</h5>
                        <p><small><em>Pieces here have been accepted indicating that your collaborator is prepared to
                                    commence work on them.</em></small>
                        </p>
                    </div>
                    <hr>

                    <div class="mb-2 border-bottom">
                        {% for piece in snt_pieces if piece.status == 'accepted' %}

                        <ul>{{ loop.index }}.
                            <li>
                                <p>{{ piece.assignee }} has accepted this project piece assigned on
                                    {{ piece.date.strftime('%d %B, %Y') }}</p>
                                </p>
                                <p><span class="field">'{{ piece.project_title }}'</span></p>
                                <p><span class='field'>Due date:
                                    </span>{{ piece.due_date.strftime('%d %B, %Y') }}
                                </p>
                                <p><span class='field'>Task Name: </span>{{ piece.task }}</p>
                                <p><span class='field'>Task Brief: </span>As a reminder, here is the brief and
                                    information you provided:<br>
                                    {{ piece.description }}</p>
                                {% if piece.comment %}
                                <p><span class='field'>Your Personal Note: </span> <br>
                                    {{ piece.comment }}
                                </p>
                                {% endif %}
                                <div>
                                    <small class="text-muted">
                                        <i><a class="ml-2" href="#">Do you want to send a message to
                                                {{ piece.assignee }}?</a></i></small>
                                </div>
                                {% if not loop.last %}
                                <hr>
                                {% endif %}
                            </li>
                        </ul>
                        {% else %}
                        <p class="text-center">Currently, you don't have any accepted pieces.</p>
                        {%- endfor %}
                    </div>


                    <!-- sent submitted -->
                    <div class="text-center mt-3 mb-2">
                        <h5>Pieces submitted for approval</h5>
                        <p><small><em>Pieces that appear here have collaborators waiting for you to
                                    approve them. If you are satisfied, change the status to 'closed'. If
                                    there is still work needed to complete the piece you can update the status
                                    to 'accepted', and work can continue. If so, ensure you update the brief so that
                                    the collaborator is aware of what is still required.</em></small>
                        </p>
                    </div>
                    <hr>

                    <div class="mb-2 border-bottom">
                        {% for piece in snt_pieces if piece.status == 'pending approval' %}
                        <ul>{{ loop.index }}.
                            <li>
                                <p>{{ piece.assignee }} has submitted this project piece.</p>
                                <p><span class="field">'{{ piece.project_title }}'</span></p>
                                <p><span class='field'>Due date:
                                    </span>{{ piece.due_date.strftime('%d %B, %Y') }}
                                </p>
                                <p><span class='field'>Task Name: </span>{{ piece.task }}</p>
                                <p><span class='field'>Submitted on:
                                    </span>{{ piece.submit_date.strftime('%d %B, %Y') }}</p>
                                <p><span class='field'>Task Brief: </span><br>
                                    As a reminder, here is the brief and
                                    information you provided:<br>
                                    {{ piece.description }}</p>
                                {% if piece.comment %}
                                <p><span class='field'>Personal Note: </span> <br>
                                    {{ piece.comment }}
                                </p>
                                {% endif %}
                                <div>
                                    {% if piece.file_upload %}
                                    <ul>
                                        Files:
                                        {%  for file in piece.file_upload %}
                                        <li>
                                            {{ piece.file_upload }}</p>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                                <a href="{{ url_for('edit_snt_piece', piece_id=piece._id) }}"
                                    id="update-piece-btn{{ loop.index }}" type="button"
                                    class="btn btn-outline-primary btn-sm mb-1">Update Status</a>
                                {% if not loop.last %}
                                <hr>
                                {% endif %}
                            </li>
                        </ul>
                        {% else %}
                        <p class="text-center">Currently, you don't have any pieces waiting for aproval.</p>
                        {%- endfor %}
                    </div>


                    <!-- sent closed -->
                    <div class="text-center mt-3 mb-2">
                        <h5>Completed Pieces </h5>
                        <p><small><em>Pieces appearing here have a 'closed' status indicating that you have
                                    accepted the submission. As they are closed they will expire soon. Be
                                    sure to send feedback to your collaborator to help them understand how they did
                                    (e.g. what they did well and areas you recommend focusing on). It would be
                                    helpful to share any changes you made to their code so they have an opportunity
                                    to learn from you and a clear idea of what you would have
                                    preferred.</em></small></p>
                    </div>
                    <hr>

                    <div class="mb-2 border-bottom">
                        {% for piece in snt_pieces if piece.status == 'closed' %}
                        <ul>{{ loop.index }}.
                            <li>
                                <p>You have accepted this piece from {{ piece.assignee }} that was assigned on
                                    {{ piece.date.strftime('%d %B, %Y') }}</p>
                                <p><span class="field">'{{ piece.project_title }}'</span></p>
                                <p><span class='field'>Task Name: </span>{{ piece.task }}</p>
                                <p><span class='field'>Date Submitted:
                                    </span>{{ piece.submit_date.strftime('%d %B, %Y') }}</p>
                                <p><span class='field'>Task Brief: </span><br>
                                    As a reminder, here is the brief and
                                    information you provided:<br>
                                    {{ piece.description }}</p>
                                {% if piece.comment %}
                                <p><span class='field'>Personal Note: </span> <br>
                                    {{ piece.comment }}
                                </p>
                                {% endif %}

                                <div><small class="text-muted">
                                        <i><a class="ml-2" href="#">Send feedback to {{ piece.assignee }}
                                                about their work on this piece.</a></i>
                                    </small></div>
                                {% if not loop.last %}
                                <hr>
                                {% endif %}
                            </li>
                        </ul>
                        {% else %}
                        <p class="text-center">Currently, you don't have any closed pieces.</p>
                        {%- endfor %}
                    </div>

                    <div class="mb-2">
                        {% else %}
                        <p class="text-center">Your project pieces will appear here when you create them for a
                            collaborator. Post your projects so that collaborators looking for opportunities will
                            see them. Interested members will send you a direct message about the project. You
                            can keep track of any messages you have received under your
                            Recieved Project Messages tab.
                            {% endif %}
                    </div>
                </div>
            </div>

            <!-- /END OF SENT PIECES TAB-->


            <!-- RECEIVED PIECES TAB -->
            <div id="rcvd_pieces" class="tabcontent">
                <div class="container">
                    {% if rcvd_pieces %}
                    <div class="text-center mb-3 border-bottom">
                        <h5>You have currently have project pieces assigned to you</h5>
                    </div>

                    <!-- received new not yet accepted -->

                    <div class="text-center mt-3 mb-2">
                        <h5>New Pieces</h5>
                        <p><small><em>Pieces appearing here are not yet accepted. Accept them as soon as possible to let
                                    the project owners know you intend to start work on them. Acceptance is an
                                    indicatation of your commitment to complete and submit the piece by the due
                                    date.</em></small></p>
                    </div>
                    <hr>
                    <div class="mb-2 border-bottom">
                        {% for piece in rcvd_pieces if piece.status == "pending acceptance" %}
                        <ul>{{ loop.index }}.
                            <li>
                                <p>{{ piece.owner }} sent you this piece on {{ piece.date.strftime('%d %B, %Y') }}</p>
                                <p><span class='field'>'{{ piece.project_title }}'</span></p>
                                <p><span class='field'>Task Name:</span> {{ piece.task }}</p>
                                <p><span class="field">Due date:</span> {{ piece.due_date.strftime('%d %B, %Y') }}</p>
                                <p><span class='field'>Task Brief: </span> <br>
                                    {{ piece.owner }} has provided the following brief and information regarding
                                    their expectations for this piece: <br>
                                    {{ piece.description }}
                                </p>
                                <a href="#" id="accept-piece-btn{{ loop.index }}" type="button"
                                    class="btn btn-outline-primary btn-sm mb-1">Accept Now</a>
                                <div><small class="text-muted">
                                        <i><a class="ml-2" href="">Ask {{ piece.owner }} a question?</a></i>
                                    </small></div>
                                {% if not loop.last %}
                                <hr>
                                {% endif %}
                            </li>
                        </ul>
                        {% else %}
                        <p class="text-center">Currently, you don't have any pieces pending acceptance.</p>
                        {%- endfor %}
                    </div>

                    <!-- received accepted -->
                    <div class="text-center mt-3 mb-2">
                        <h5>Accepted Pieces</h5>
                        <p><small><em>Pieces listed here have been accepted by you and the project owner is waiting for
                                    you to submit them.</em></small></p>
                    </div>
                    <hr>

                    <div class="mb-2 border-bottom">
                        {% for piece in rcvd_pieces if piece.status == 'accepted' %}
                        <ul>{{ loop.index }}.
                            <li>
                                <p>You accepted this piece from {{ piece.owner }}.</p>
                                <p><span class='field'>'{{ piece.project_title }}'</span></p>
                                <p><span class='field'>Task Name:</span> {{ piece.task }}</p>
                                <p><span class="field">Due date:</span> {{ piece.due_date.strftime('%d %B, %Y') }}
                                </p>
                                <p><span class='field'>Task Brief: </span> </p>
                                <p>As a reminder, here is the brief and information provided for
                                    the piece: <br>
                                    {{ piece.description }}
                                </p>
                                <a href="" id="submit-piece-btn{{ loop.index }}" type="button"
                                    class="btn btn-outline-primary btn-sm mb-1">Submit Now</a>
                                <div><small class="text-muted">
                                        <i><a class="ml-2" href="">Ask
                                                {{ piece.owner }} a question about this piece?</a></i></small></div>
                                {% if not loop.last %}
                                <hr>
                                {% endif %}
                            </li>
                        </ul>
                        {% else %}
                        <p class="text-center">Currently, you don't have any accepted pieces.</p>
                        {%- endfor %}
                    </div>


                    <!-- received and submitted -->
                    <div class="text-center mt-3 mb-2">
                        <h5>Pieces submitted for approval</h5>
                        <p><small><em>Pieces appearing here are pending acceptance by the project owner and thereafter
                                    they will move to your Completed Pieces list for a short while for your reference.
                                    If there is still work to be done they will move back to the accepted section for
                                    you to continue working on them and the brief will be updated accordingly.
                                </em></small></p>
                    </div>
                    <hr>

                    <div class="mb-2 border-bottom">
                        {% for piece in rcvd_pieces if piece.status == 'pending approval' %}
                        <ul>{{ loop.index }}.
                            <li>
                                <p>You have submitted this piece to {{ piece.owner }} for approval.</p>
                                <p><span class="field">'{{ piece.project_title }}'</span></p>
                                <p><span class='field'>Due date:
                                    </span>{{ piece.due_date.strftime('%d %B, %Y') }}
                                </p>
                                <p><span class='field'>Task Name: </span>{{ piece.task }}</p>
                                <p><span class='field'>Submitted on:
                                    </span>{{ piece.submit_date.strftime('%d %B, %Y') }}</p>
                                <p><span class='field'>Task Brief: </span><br>
                                    As a reminder, here is the brief and
                                    information that was provided:<br>
                                    {{ piece.description }}</p>

                                <div><small class="text-muted">
                                        <i><a class="ml-2" href="">Do you have
                                                a question for {{ piece.owner }} about
                                                this piece?</a></i></small></div>
                                {% if not loop.last %}
                                <hr>
                                {% endif %}
                            </li>
                        </ul>
                        {% else %}
                        <p class="text-center">Currently, you don't have any pieces waiting for aproval.</p>
                        {%- endfor %}
                    </div>


                    <!-- received and closed -->
                    <div class="mt-3 mb-2">
                        <h5>Completed Pieces </h5>
                        <p><small><em>Pieces listed here have been accepted and are now closed. They will expire soon.
                                    Be sure to ask for feedback from the owner if you haven't received any.
                                </em></small></p>
                    </div>
                    <hr>
                    <div class="mb-2 border-bottom">
                        {% for piece in rcvd_pieces if piece.status == 'closed' %} {# outer for loop #}
                        <ul>{{ loop.index }}.
                            <ul>
                                <li>
                                    <p>{{ piece.owner }} has accepted this piece!</p>
                                    <p><span class="field">'{{ piece.project_title }}'</span></p>
                                    <p><span class='field'>Task name: </span>{{ piece.task }}</p>
                                    <p><span class='field'>Submitted:
                                        </span>{{ piece.submit_date.strftime('%d %B, %Y') }}</p>
                                    <p><span class='field'>Task Brief: </span><br>
                                        As a reminder, here is the brief and
                                        information that was provided:<br>
                                        {{ piece.description }}</p>

                                    <div><small class="text-muted">
                                            <i><a class="ml-2" href="">You can ask
                                                    for feedback on your work
                                                    here.</a></i></small></div>
                                    {% if not loop.last %}
                                    <hr>
                                    {% endif %}
                                </li>
                            </ul>
                            {% else %}
                            <p class="text-center">Currently, you don't have any closed pieces.</p>
                            {%- endfor %}
                    </div>

                    <div class="mb-2">
                        {% else %}{# outer if check else clause that should run if the collection if empty #}
                        <div class="text-center">
                            <p>Your project pieces will appear here when you receive them. If you see a
                                project that you are interested in collaborating on, let the owner know by sending them
                                a direct message via the message button below the project listing. A copy of your
                                messages will be saved in your Sent Project Messages tab.
                        </div>
                    </div>
                    {% endif %} {# outer if collection not empty check #}
                </div>
            </div>
            <!-- /End of Received Pieces -->
            <!-- /END OF PIECES -->
            <!-- /END OF PROJECT TAB CONTENT -->
            <!-- /END TAB CONTENT -->
        </div>
    </section>
</div>
{% endblock content %}