{% extends 'layout/base.html' %}
{% block content %}

<div class="container mt-3" id="dashboard">
    <section class="dashboard">
        <legend class="legend-border text-center">{{ session['username'] }}'s Dashboard</legend>
        <!-- Dashboard Tabs -->
        <div id="dashnav" class="container">
            <ul class="nav nav-tabs justify-content-center">
                <li class=" nav-item active nav-link"><a href="#articles" data-toggle="tab">Articles</a></li>

                <li class="nav-item dropdown nav-link">
                    <a class="dropdown-toggle mr-4" id="projectsdrop" data-toggle="dropdown">
                        Projects</a>
                    <ul class="dropdown-menu" aria-labelledby="projectsdrop">
                        <a class="dropdown-item" data-toggle="tab" href="#projects">My Projects</a>
                        <a class="dropdown-item" data-toggle="tab" href="#pieces">My Pieces</a>
                        <a class="dropdown-item" data-toggle="tab" href="#projectMessages">Project Messages</a>
                        <a class="dropdown-item" href="{{ url_for('add_project') }}">New Project</a>
                    </ul>
                </li>

                <li class="nav-item dropdown nav-link">
                    <a class="dropdown-toggle mr-4" id="profiledrop" data-toggle="dropdown">
                        Profile</a>
                    <ul class="dropdown-menu" aria-labelledby="profiledrop">
                        <a class="dropdown-item" data-toggle="tab" href="#profile">My Profile</a>
                        <a class="dropdown-item" data-toggle="tab" href="#profilemessages">Profile Messages</a>
                        <a class="dropdown-item" href="{{ url_for('add_profile') }}">Add Profile</a>
                        <a class="dropdown-item" href="{{ url_for('edit_profile', profile_id=profile._id) }}">Update
                            Profile</a>
                        <a class="dropdown-item" id="delete-profile-modal" data-toggle="modal"
                            data-target="#deleteProfile">Delete Profile
                        </a>
                        <a class="dropdown-item" href="{{ url_for('update_password') }}">Update Password</a>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deleteProfile" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="color:red;">WARNING</h4>
                    </div>
                    <div class="modal-body">
                        <p>This process is immediate and cannot be undone. Are you sure?</p>
                        <!-- Button to confirm delete article -->
                        <form action="{{ url_for('delete_profile', profile_id=profile._id) }}" method="post">
                            <input id="delete-profile-btn" class="btn btn-outline-primary btn-sm" type="submit"
                                value="Confirm Delete">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Dashboard Tab Content -->
        <div class="tab-content">

            <!-- Article tab content -->
            <div class="tab-pane fade show active" id="articles">
                {% if articles %}
                <div class="accordion">
                    {% for article in articles %}
                    <div id="dashboard-blog-accordion" class="accordion-label"><span class="title">
                            {{ article.title }}
                        </span><br><span class="secondary-title">{{ article.date.strftime('%d, %B %Y') }}</span>
                    </div>
                    <div class="accordion-content">
                        <div id="dash-article-edit">
                            <a href="{{ url_for('edit_article', article_id=article._id) }}" id="article-btn-edit"
                                type="button" class="btn btn-outline-primary btn-sm mt-1 mb-1">Edit</a>
                            <button class="btn btn-outline-danger btn-sm" type="button" id="delete-article-modal"
                                data-toggle="modal" data-target="#deleteArticle">Delete
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteArticle" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title" style="color:red;">WARNING</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>This process is immediate and cannot be undone. Are you sure?</p>
                                            <!-- Button to confirm delete article -->
                                            <form action="{{ url_for('delete_article', article_id=article._id) }}"
                                                method="post">
                                                <input id="delete-article-btn" class="btn btn-outline-primary btn-sm"
                                                    type="submit" value="Confirm Delete">
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-danger btn-sm"
                                                data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>{{ article.content|safe }}</div>
                        <div id="dash-article-comments-div">
                            <div id="dash-article-comment-form">
                                <a href="#" class="comment-btn btn btn-outline-secondary btn-sm mb-1"
                                    type="button">Comment</a>
                                <div class="form-box">
                                    <div class="form-group">
                                        <div class="close-btn btn btn-outline-danger btn-sm mb-2">Close</div>
                                        <form action="{{ url_for('add_comment', article_id=article._id) }}"
                                            method="post">
                                            <div class="form-group">
                                                <textarea class="form-control mt-2 class=" com-form"" id="textarea"
                                                    rows="2" aria-describedby="commentHelpInline" required></textarea>
                                                <small id="commentHelpInline" class="text-muted">
                                                    You need to be logged in to comment.
                                                </small>
                                            </div>
                                            <button type="submit" class="btn btn-outline-primary btn-sm mt-1 mb-1">Post
                                                comment</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id=dash-article-comments>
                                {% if article.comments %}
                                <hr>
                                <ul>Comments:
                                    {% for comment in article.comments %}
                                    <li>{{ comment }} </li>
                                    {% endfor %}
                                </ul>
                                {% if not loop.last %}
                                <hr>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if not loop.last %}
                    <hr>
                    {% endif %}
                    {% endfor %}
                </div>
                {% else %}
                <div class="col-sm-12 text-center">
                    <p>Your blog articles will appear here.</p>
                </div>
                {% endif %}
            </div>
            <!-- Projects tab content -->
            <div class="tab-pane fade" id="projects">
                {% if projects %}
                <div class="accordion">
                    {% for project in projects %}
                    <div id="project-accordion" class="accordion-label"><span class="title">
                            {{ project.title }}</span><br>
                        <span secondary-title>{{ project.username }} - Post date:
                            {{ project.date.strftime('%d %B, %Y') }}</span>
                    </div>
                    <div class="accordion-content">
                        {% if project.username == session['username'] %}
                        <a href="{{ url_for('edit_project', project_id=project._id) }}" id="project-btn-edit"
                            type="button" class="btn btn-outline-primary btn-sm mb-1">Edit</a>
                        <button class="btn btn-outline-danger btn-sm mb-1" type="button" id="delete-project-modal"
                            data-toggle="modal" data-target="#deleteProject">Delete
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="deleteProject" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title" style="color:red;">WARNING</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>This process is immediate and cannot be undone. Are you sure?</p>
                                        <!-- Button to confirm delete project -->
                                        <form action="{{ url_for('delete_project', project_id=project._id) }}"
                                            method="post">
                                            <input id="delete-project-btn" class="btn btn-outline-success btn-sm"
                                                type="submit" value="Confirm Delete">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-danger btn-sm"
                                            data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <a href="#" id="project-btn-message" type="button"
                            class="btn btn-outline-primary btn-sm mt-1 mb-1">Message</a>
                        {% endif %}

                        <p>Current Status: {{ project.status }}
                        </p>
                        <p>Project deadline: {{ project.deadline.strftime('%d %B, %Y') }}
                        </p>
                        <p>Project files:
                            {% if project.file_upload %}
                            {{ project.file_upload }}
                            {% else %}
                            No File uploads for this project.</p>
                        {% endif %}
                        <p>Project Description: {{ project.brief|safe }}
                        </p>
                    </div>
                    {% if not loop.last %}
                    <hr>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <div class="col-sm-12 text-center">
                        <p>Your projects will appear here.</p>
                    </div>
                    {% endif %}
                </div>
            </div>

            <!-- Profile tab content -->
            <div class="tab-pane fade" id="profile">
                {% if profile %}
                <div class="row">
                    <div class="col-12 secondary-title text-center mt-2">
                        <p>Last updated: {{ profile.date.strftime('%d, %B %Y') }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <ul>Headline:
                            <li>{{ profile.headline }}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <ul>Bio:
                            <li>{{ profile.bio|safe }}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <ul>Languages:
                            {% for lang in profile.languages %}
                            <li>{{ lang }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul>Frameworks:
                            {% for item in profile.frameworks %}
                            <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul>Links:
                            {% for link in profile.personal_links %}
                            {% for key, value in link.items() %}
                            <li>{{ key }}: {{ value }}</li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% else %}
                <div class="col-sm-12 text-center">
                    <p>If you create a profile it will appear here.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock content %}