{% extends 'layout/base.html' %}
{% block content %}
<div id="home">
    <section class="hero">
        <div class="container">
            <div class="hero-text">
                <h2>
                    Bridging the gap.
                </h2>
                <p class="lead">You don't have to be great to start... <br>...but you have to start to be great. -
                    Zig
                    Ziglar
                </p>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    <section id="workflow">
        <div class="container-fluid">
            <div class="carousel">
                <div id="home-projects" class="row projects">
                    <h3>Bring your projects to life.</h3>
                    <p class="lead"> Present ideas - establish interest...</p>
                    <p>...track the entire workflow</p>
                </div>
                <div id="home-profiles" class="row profiles">
                    <h3>Get ready to collaborate.</h3>
                    <p class="lead"> Write a Bio - get noticed...</p>
                    <p>...let your Code Flow</p>
                </div>
                <div id="home-blog" class="row blog">
                    <h3>Share your knowledge.</h3>
                    <p class="lead">Create articles - inspire readers...</p>
                    <p>...watch your reputation grow</p>
                </div>
                <div id="home-dashboard" class="row dashboard">
                    <h3>Personal Dashboard.</h3>
                    <p class="lead">All about you - in one place...</p>
                    <p>...easily manage your content</p>

                </div>
                <div id="home-messages" class="row messages">
                    <h3>Direct messages.</h3>
                    <p class="lead">Send messages - receive messages...</p>
                    <p>...it's all about commuication.</p>
                </div>
            </div>
        </div>

    </section>
    <section id="upsell">
        <div class="container-fluid">
            <!-- background codeflow colour-->
            <div class="container">
                <!-- parallax effect -->
                <div class="impact-text">
                    <ul id="impact">
                        <li class="scroll" data-rateX="-1" data-rateY="3">Communicate<span><i>dot</i></span></li>
                        <li class="scroll" data-rateX="0" data-rateY="2">Collaborate<span><i>dot</i></span></li>
                        <li class="scroll" data-rateX="-3" data-rateY="1">Congratulate<span><i>dot</i></span></li>
                    </ul>
                    <span class="scroll upsell-logo" data-rateX="1" data-rateY="0">CodeFlow</span>
                </div>
                <div class="row">
                    <!-- call to action -->
                    <button>Get Started</button>
                </div>
            </div>
        </div>
    </section>


</div>

{% endblock content %}
{% block scripts %}
<!-- <script>
    $(window).load(function () {
        window.addEventListener('scroll', function(e){
            const target = document.querySelectorAll('.scroll');
        let index=0
        })

    });
</script> -->
{% endblock %}