{% extends 'layout/base.html' %}

{% from 'pages/_formhelpers.html' import render_field %}

{% block content %}

<div class="container mt-5">
    <section class="section-content">
        <legend class="text-center legend-border mb-4">Login to your account
        </legend>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                {{ render_field(form.username, autofocus=true) }}
                {{ render_field(form.password) }}
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-primary btn-sm") }}
            </div>
            <small class="text-muted ml-2">
                <a href="{{ url_for('forgot_password') }}">Forgot Password?</a>
            </small>
        </form>
        <div class="border-top pt-3 text-center">
            <small class="text-muted">
                <i>Need An Account?<a class="ml-2" href="{{ url_for('register') }}">Register</a></i>
            </small>
        </div>
    </section>
</div>


{% endblock content %}