{% extends 'layout/base.html' %}
{% block content %}

<div class="container mt-5">
    <section class="section-content neu">
        <legend class="text-center border-bottom mb-4">Post your content</legend>
        <div class="accordion">
            <div>
                <input type="checkbox" name="article-accordion" id="article-form" class="post-accordion-input">
                <label for="article-form" class="post-accordion-label border-bottom mb-4">Add A Blog Post</label>
                <div class="post-accordion-content mt-0">
                    <form action="" method="post" novalidate>
                        {{ article_form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="text-center border-bottom mb-4">New Blog Post</legend>
                            <div class="form-group">
                                {{ article_form.author.label(class="form-control-label") }}
                                {% if article_form.author.errors %}
                                {{ article_form.author(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in particle_form.author.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ article_form.author(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ article_form.post_date.label(class="form-control-label") }}
                                {% if article_form.date.errors %}
                                {{ article_form.date(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in particle_form.date.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ article_form.date(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ article_form.title.label(class="form-control-label") }}
                                {% if article_form.title.errors %}
                                {{ article_form.title(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in article_form.title.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ article_form.title(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ article_form.content.label(class="form-control-label") }}
                                {% if article_form.content.errors %}
                                {{ article_form.content(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in particle_form.content.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ article_form.content(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            {{ article_form.submit(class="btn btn-outline-info") }}
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <input type="checkbox" name="project-accordion" id="project-form" class="post-accordion-input">
                <label for="project-form" class="post-accordion-label border-bottom mb-4">Add A Project</label>
                <div class="post-accordion-content">
                    <form action="" method="post" novalidate>
                        {{ project_form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="text-center border-bottom mb-4">New Project</legend>
                            <div class="form-group">
                                {{ project_form.owner.label(class="form-control-label") }}
                                {% if project_form.owner.errors %}
                                {{ project_form.owner(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in project_form.owner.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ project_form.owner(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ project_form.username.label(class="form-control-label") }}
                                {% if project_form.username.errors %}
                                {{ project_form.username(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in project_form.username.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ project_form.username(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ project_form.post_date.label(class="form-control-label") }}
                                {% if project_form.post_date.errors %}
                                {{ project_form.post_date(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in project_form.post_date.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ project_form.post_date(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ project_form.status.label(class="form-control-label") }}
                                {% if project_form.status.errors %}
                                {{ project_form.status(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in project_form.status.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ project_form.status(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group" name="daterange" type="date">
                                {{ project_form.deadline.label(class="form-control-label") }}
                                {% if project_form.deadline.errors %}
                                {{ project_form.deadline(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in project_form.deadline.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ project_form.deadline(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ project_form.title.label(class="form-control-label") }}
                                {% if project_form.title.errors %}
                                {{ project_form.title(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in project_form.title.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ project_form.title(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ project_form.brief.label(class="form-control-label") }}
                                {% if project_form.brief.errors %}
                                {{ project_form.brief(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in project_form.brief.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ project_form.brief(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            {{ project_form.submit(class="btn btn-outline-info") }}
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <input type="checkbox" name="profile-accordion" id="profile-form" class="post-accordion-input">
                <label for="profile-form" class="post-accordion-label border-bottom mb-4">Add A Profile</label>
                <div class="post-accordion-content">
                    <form action="" method="post" novalidate>
                        {{ profile_form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="text-center border-bottom mb-4">New Profile</legend>
                            <div class="form-group">
                                {{ profile_form.username.label(class="form-control-label") }}
                                {% if profile_form.username.errors %}
                                {{ profile_form.username(class="form-control form-control-md is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in profile_form.username.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ profile_form.username(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div clprofile_formoup">
                                {{ profile_form.post_date.label(class="form-control-label") }}
                                {% if profile_form.post_date.errors %}
                                {{ profile_form.post_date(class="form-control form-control-md is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in profile_form.post_date.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ profile_form.post_date(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ profile_form.headline.label(class="form-control-label") }}
                                {% if profile_form.headline.errors %}
                                {{ profile_form.headline(class="form-control form-control-md is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in profile_form.headline.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ profile_form.headline(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div clprofile_formoup">
                                {{ profile_form.bio.label(class="form-control-label") }}
                                {% if profile_form.bio.errors %}
                                {{ profile_form.bio(class="form-control form-control-md is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in profile_form.bio.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ profile_form.bio(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div clprofile_formoup">
                                {{ profile_form.xp.label(class="form-control-label") }}
                                {% if profile_form.xp.errors %}
                                {{ profile_form.xp(class="form-control form-control-md is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in profile_form.xp.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ profile_form.xp(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            {{ profile_form.submit(class="btn btn-outline-info") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}