{% extends 'layout/base.html' %}
{% block content %}

<div class="container mt-5">
    <section class="section-content neu">
        <legend class="text-center border-bottom mb-4">Available Collaborators</legend>
        <div class="accordion">
            {% for profile in profiles %}
            <div id="project-accordion" class="accordion-label"><span class="title text-center">
                    {{ profile.headline.title() }}</span><br>{{ profile.username.upper() }} Last updated on
                {{ profile.date }}
            </div>
            <div class="accordion-content">
                <button id="project-btn" type="button" class="btn btn-outline-info">Message</button>
                <p>Bio: <br>
                    {{ profile.bio }}</p>
                <p>I am a {{ profile.occupation }}</p>
                <p>I have experience with the following:<br>
                    Languages - {% for item in languages %}
                    {{ item }}
                    {% endfor %}<br>
                    Frameworks - {% for item in frameworks %}
                    {{ item }}
                    {% endfor %}
                </p>
                <p>I have {{ profile.yrs_experience }} years experience in some or all of the above.</p>
                <p>I am keen to collaborate on projcts with any of the following:</p>
                <p>{{ profile.looking_for }}</p>
                <p>My personal links:</p>
                <p>{{ profile.personal_links }} </p>
                <p>Files: <br>
                    {{ profile.file_upload }}</p>
            </div>
            {% if not loop.last %}
            <hr>
            {% endif %}
            {% endfor %}
        </div>
    </section>
</div>

{% endblock content %}