{% extends 'layout/base.html' %}
{% block content %}

<div class="container mt-5">
    <section class="section-content neu">
        <legend class="text-center border-bottom mb-4">Current Projects</legend>
        <div class="accordion">
            {% for project in projects %}
            <div id="project-accordion" class="accordion-label"><span class="title">
                    {{ project.title }}</span><br>Owner:
                {{ project.owner }} : Project manager:
                {{ project.username }}<br><small>{{ project.date.strftime('%B %d, %Y') }}</small>
            </div>
            <div class="accordion-content">
                <button id="project-btn" type="button" class="btn btn-outline-info mt-2 mb-2">Join</button>
                <p>Project Description: <br>
                    {{ project.brief }}</p>
                <p>Current Status: <br>
                    {{ project.status }}</p>
                <p>Project deadline: <br>
                    {{ project.deadline }}</p>
                <p>Project Brief: <br>
                    {{ project.brief }}</p>
                <p>Project files: <br>
                    {{ project.file_upload }}</p>
            </div>
            {% if not loop.last %}
            <hr>
            {% endif %}
            {% endfor %}
        </div>
    </section>
</div>

{% endblock content %}