{% extends 'layout/base.html' %}
{% block content %}

<div class="container mt-5">
    <section class="section-content">
        <legend class="text-center border-bottom mb-4">Current Projects</legend>
        <div class="accordion">
            {% for project in projects %}
            <div id="project-accordion" class="accordion-label"><span class="title">
                    {{ project.title }}</span><br>
                <small>{{ project.username }} - Post date:
                    {{ project.date.strftime('%d %B, %Y') }}</small>
            </div>
            <div class="accordion-content">
                {% if project.username == session['username'] %}
                <a href="{{ url_for('edit_project', project_id=project._id) }}" id="project-btn-edit" type="button"
                    class="btn btn-outline-primary btn-sm mb-1">Edit</a>
                <button class="btn btn-outline-danger btn-sm mb-1" type="button" id="delete-project-modal"
                    data-toggle="modal" data-target="#deleteProject">Delete
                </button>
                <!-- Modal -->
                <div class="modal fade" id="deleteProject" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" style="color:red;">WARNING</h4>
                            </div>
                            <div class="modal-body">
                                <p>This process is immediate and cannot be undone. Are you sure?</p>
                                <!-- Button to confirm delete article -->
                                <form action="{{ url_for('delete_project', project_id=project._id) }}" method="post">
                                    <input id="delete-project-btn" class="btn btn-outline-success btn-sm" type="submit"
                                        value="Confirm Delete">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger btn-sm"
                                    data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <a href="#" id="profile-btn-message" type="button"
                    class="btn btn-outline-primary btn-sm mt-1 mb-1">Message</a>
                {% endif %}

                <p>Current Status: {{ project.status }}
                </p>
                <p>Project deadline: {{ project.deadline.strftime('%d %B, %Y') }}
                </p>
                <p>Project files:
                    {% if project.file_upload %}
                    {{ project.file_upload }}
                    {% else %}
                    No File uploads for this project.</p>
                {% endif %}
                <p>Project Description: {{ project.brief|safe }}
                </p>
            </div>
            {% if not loop.last %}
            <hr>
            {% endif %}
            {% endfor %}
        </div>
    </section>
</div>

{% endblock content %}