{% extends 'layout/base.html' %}
{% block content %}

<div class="container">
    <section id="projects-page" class="section-content">
        <legend class="text-center legend-border mb-4">Current Projects</legend>
        <div class="accordion">
            {% for project in projects %}
            <div id="project-accordion" class="accordion-label"><span class="title">
                    {{ project.title }}</span><br>
                <span class="secondary-title">{{ project.username }} - Post date:
                    {{ project.date.strftime('%d %B, %Y') }}</span>
            </div>
            <div class="accordion-content">
                {% if project.username == session['username'] %}
                <a href="{{ url_for('add_piece', project_id=project._id) }}" id="project-btn-piece" type="button"
                    class="btn btn-outline-info btn-sm mb-1">Add piece</a>
                <a href="{{ url_for('edit_project', project_id=project._id) }}" id="project-btn-edit" type="button"
                    class="btn btn-outline-primary btn-sm mb-1">Edit</a>
                <button class="btn btn-outline-danger btn-sm mb-1" type="button" id="delete-project-modal"
                    data-toggle="modal" data-target="#deleteProject">Delete
                </button>
                <!-- Modal for project delete button -->
                <div class="modal fade" id="deleteProject" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" style="color:red;">WARNING</h4>
                            </div>
                            <div class="modal-body">
                                <p>This process is immediate and cannot be undone. Are you sure?</p>
                                <!-- Button to confirm delete article -->
                                <form action="{{ url_for('delete_project', project_id=project._id) }}" method="post">
                                    <input id="delete-project-btn" class="btn btn-outline-success btn-sm" type="submit"
                                        value="Confirm Delete">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger btn-sm"
                                    data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div>
                    <p><span class="field">Current Status: </span> {{ project.status }}</p>
                </div>
                <div>
                    <p><span class="field">Project deadline: </span>
                        {{ project.deadline.strftime('%d %B, %Y') }}</p>
                </div>
                <div>
                    <p><span class="field"> Project files: </span>
                        {% if project.file_upload %}
                        {{ project.file_upload }}
                        {% else %}
                        No File uploads for this project.
                        {% endif %}
                    </p>
                </div>
                <div>
                    <span class="field">Project description: </span>{{ project.brief|safe }}
                </div>
                {% if not project.username == session['username'] %}
                <!-- Project Message form  -->
                <div>
                    <button id="project-message-btn{{ loop.index }}"
                        class="msg-btn btn btn-outline-secondary btn-sm mt-1 mb-1">Close</button>
                    <div class="form-box show">
                        <div id="project-message-form-div{{ loop.index }}" class="form-group">
                            <form id="project-message-form{{ loop.index }}"
                                action="{{ url_for('project_msg', project_id=project._id) }}" method="post">
                                <div class="form-group">
                                    <textarea class="form-control mt-2 msg-form" name="message"
                                        id="message{{ loop.index }}" rows="2" aria-describedby="msgHelpInline"
                                        required></textarea>
                                    <small id="msgHelpInline{{ loop.index }}" class="text-muted">
                                        Send {{ project.owner }} a message if you would like to work on
                                        this project.
                                    </small>
                                </div>
                                <button type="submit" class="btn btn-outline-primary btn-sm mt-1 mb-1">Send
                                    message</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% if not loop.last %}
            <hr>
            {% endif %}
            {% endfor %}
        </div>
    </section>
    <div class="bottom"></div>
</div>

{% endblock content %}