{% extends 'layout/base.html' %}

{% from 'pages/_formhelpers.html' import render_field %}

{% block content %}

<div class="container mt-5">
    <section class="section-content">
        <legend class="text-center legend-border mb-4">Sign Up</legend>
        <form action="#" method="post" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                {{ render_field(form.username, autofocus=true) }}
                {{ render_field(form.email) }}
                {{ render_field(form.passphrase) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm_password) }}
            </fieldset>
            <div class="form-group">
                {{ form.recaptcha }}
                {{ form.submit(class="btn btn-outline-primary btn-sm mt-2") }}
            </div>
        </form>
        <div class="border-top pt-3 text-center">
            <small class="text-muted">
                <i>Already Have An Account?<a class="ml-2" href="{{ url_for('login') }}">Sign In</a></i>
            </small>
        </div>
    </section>
</div>
{% endblock content %}