<li class="nav-item dropdown " data-toggle="tooltip" title="Hover to view, click to select.">
  <a class="nav-link dropdown-toggle mr-4" href="#" id="navbardrop" data-toggle="dropdown">
    Dasboard</a>
  <div class="dropdown-menu" aria-labelledby="navbardrop">
<li><a class="dropdown-item" href="#">My Blog Articles</a>
<li><a class="dropdown-item" href="#">Article Comments</a></li>
</li>
<li><a class="dropdown-item" href="#">My Projects</a>
<li><a class="dropdown-item" href="#">Project Messages</a></li>
</li>
<li><a class="dropdown-item" href="#">My Profile</a>
<li><a class="dropdown-item" href="#">Profile Messages</a></li>
</li>
</div>
</li>