/* google fonts */

/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Muli', sans-serif; */

body {
  background-color: #c3c3c3;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  color: #0a3235;
  position: relative;
}

/* typography */

small {
  color: #8d8d8d;
}

legend,
label {
  color: #352721;
  letter-spacing: 0.03em;
}

a {
  color: #089b93;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #089b93;
  text-decoration: none;
  background-color: transparent;
}

a:not([href]) {
  color: #089b93;
  text-decoration: none;
}

a:not([href]):hover {
  color: #5d5d5c;
  text-decoration: none;
}

.secondary-title {
  color: #0a3235;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 14px;
}

/* Navigation */

.nav-tabs {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border-bottom: 0.5px solid rgba(0, 0, 0, .15);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #089b93;
  background-color: rgba(0, 0, 0, .15);
  border-color: rgba(0, 0, 0, .15) rgba(0, 0, 0, .15) rgba(0, 0, 0, .15);
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  color: #5d5d5c;
  font-weight: 400;
  font-size: 1.1em;
  border-color: rgba(0, 0, 0, .15) rgba(0, 0, 0, .15) rgba(0, 0, 0, .15);
}

.nav-tabs .nav-link:active {
  color: #5d5d5c;
  font-weight: 400;
  background-color: rgba(0, 0, 0, .15);
  border-color: rgba(0, 0, 0, .15) rgba(0, 0, 0, .15) rgba(0, 0, 0, .15);
}

.navbar {
  /* maybe add border-bottom */
  background-color: #c3c3c3;
}

.dropdown-menu {
  color: #089b93;
  background-color: #c3c3c3;
  background-clip: padding-box;
  border: 0.5px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #089b93;
}

.navbar-light .navbar-toggler {
  color: #17a2b8;
  border-color: #17a2b8;
}

.navbar-nav .nav-link:hover {
  color: #5d5d5c;
  font-weight: 400;
  font-size: 1.1em;
}

.navbar-nav .nav-link.active {
  font-weight: 500;
}

button.navbar-toggler:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto;
}

.dropdown-item {
  color: #089b93;
}

.dropdown-item:hover {
  color: #5d5d5c;
  background-color: #c3c3c3;
  font-weight: 400;
  font-size: 1.1em;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #089b93;
  background-color: rgba(0, 0, 0, 0.1);
}

:focus {
  outline: none;
}

/* background for templates */

.template-container {
  background-color: #c3c3c3;
  margin-top: 80px;
}

/* SECTION-CONTENT STYLING */
.section-content {
  padding: 10px 20px 80px;
  margin-top: 10px;
}

.legend-border {
  border-bottom: 0.5px solid rgba(0, 0, 0, .15)
}

/* button styling */
.btn-outline-primary {
  color: #11a1a8;
  border-color: #11a1a8;
}

.btn-outline-primary:hover {
  color: #c3c3c3;
  background-color: #11a1a8;
  border-color: #11a1a8;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
  color: #c3c3c3;
  background-color: #11a1a8;
  border-color: #11a1a8;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(17, 161, 168, .5);
}

.btn-outline-danger {
  color: #352721;
  border-color: #352721;
}

.btn-outline-danger:hover {
  color: #c3c3c3;
  background-color: #352721;
  border-color: #352721;
}

.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.show>.btn-outline-danger.dropdown-toggle {
  color: #c3c3c3;
  background-color: #352721;
  border-color: #352721;
}

.btn-outline-danger.focus,
.btn-outline-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(53, 39, 33, 0.5);
}

.legend-border {
  border-bottom: 0.5px solid rgba(0, 0, 0, .15)
}

/* forms */

/* labels/legend */
legend,
label {
  color: #352721;
  letter-spacing: 0.03em;
}

.form-control:focus {
  color: #352721;
  background-color: #fff;
  border-color: #1a757c;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(26, 117, 124, 0.5)
}

/* accordion styling for retrieved database content */
.accordion-label {
  width: 100%;
  padding: 0 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

span.title {
  font-weight: 500;
  font-size: 18px;
  color: #352721;
  ;
}

.accordion-label::after {
  content: '\25BC';
  float: right;
}

.accordion-label:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.accordion-content {
  margin-top: 5px;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}


/* dashboard */
#div-profile-image img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}


ul {
  padding-left: 0;
}

li {
  list-style: none;
  padding-left: 1rem;
}

/* slide-in form for blog/profile/project comments/messages */
.form-box {
  position: fixed;
  top: 12%;
  left: -100%;
  height: auto;
  padding: 20px;
  transition: 0.4s ease all;
  background-color: #5d5d5c;
  z-index: 10;
}

.show {
  left: 13%;
}

footer {
  background-color: #5d5d5c;
  color: #afbdb8;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 10px 20px;
}

/* set recaptcha widget size for mobile */
/* taken from 
https://geekgoddess.com/how-to-resize-the-google-nocaptcha-recaptcha/ */
@media screen and (max-height: 575px) {

  #rc-imageselect,
  .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}