/* google fonts */

/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Muli', sans-serif; */

html,
body {
  /* background-color: #f4f4f4; */
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #c3c3c3;
  color: #0a3235;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

main {
  margin-top: 77px;
  width: 100%;
}

.bottom {
  width: 100vw;
  height: 8vh;
  background-color: #c3c3c3;
}

.top {
  width: 100vw;
  height: 2vh;
  background-color: #c3c3c3;
}

.flashed {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: left;
  top: 0;
  left: 0;
  margin-top: 77px;
  z-index: 100;
}

/* Typography */
.suggest-text {
  font-size: 1.1em;
  font-weight: 300;
  color: #11a1a8;
}

.secondary-title {
  color: #0a3235;
  font-weight: 300;
  margin-bottom: 0;
  font-size: 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #089b93;
  line-height: 1.7;
}

small {
  color: #352721;
}

legend,
label {
  color: #352721;
  letter-spacing: 0.03em;
}


.hero-text {
  position: relative;
  text-align: center;
  color: #f4f4f4;
  z-index: 2;
}

blockquote {
  font-weight: 300;
  font-size: 1.3em;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.09em;
  word-wrap: break-word;
  margin-top: 15vh;
}


blockquote>p::before {
  content: open-quote;
}

blockquote>p::after {
  content: close-quote;
}

.block-span {
  color: #11a1a8;
  text-transform: uppercase;
  outline-color: black;
}

legend {
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 1.3em 0;
}

/* used in the accordions */
span.field,
span.title {
  font-weight: 500;
  font-size: 18px;
  color: #089b93;
}

a,
a:not([href]) {
  color: #089b93;
  text-decoration: none;
  background-color: transparent;
}

a:hover,
a:not([href]):hover {
  color: #089b93;
  text-decoration: none;
  background-color: transparent;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

li:hover>a {
  cursor: pointer;
  color: #5d5d5c;
}

.thread>li {
  margin-left: 0.5em;
}

.comments {
  color: #089b93;
}

/* Main Site Navigation and Dashboard Tabs */
.navbar-image {
  display: block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-left: 1rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar {
  /* maybe add border-bottom */
  background-color: #f4f4f4;
  border-bottom: 0.5px solid rgba(0, 0, 0, .15);
}

.navbar-light .navbar-nav .nav-link {
  color: #089b93;
}

.navbar-light .navbar-toggler {
  color: #17a2b8;
  border-color: #17a2b8;
}

nav.dash-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.dash-nav .tabs-dropdown {
  float: none;
}

.dash-nav .tab-link:active,
.navbar-nav .nav-link.active {
  font-weight: 500;
}

.dash-tabs>li {
  display: inline-block;
  /* border-color: rgba(0, 0, 0, .15) rgba(0, 0, 0, .15) rgba(0, 0, 0, .15); */
}

.dropdown-menu {
  /* top: 40%; */
  left: 0;
  z-index: 1000;
  display: none;
  text-align: left;
  list-style: none;
  color: #089b93;
  border: 0.5px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  background-color: #f4f4f4;

}

.tabs-dropdown {
  color: #089b93;
  background-color: #c3c3c3;
  border: 0.5px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
}

.tab-item {
  display: block;
  width: 100%;
  padding: .25rem 0.75rem;
}

.tabs-dropdown {
  position: absolute;
  display: none;
  z-index: 1000;
}

.tabs-dropdown li {
  position: relative;
}

.dash-tabs>li:hover .tabs-dropdown {
  display: block;
  color: #5d5d5c;
}

.dash-tabs .tab-item:hover,
.dropdown-item:hover {
  color: #5d5d5c;
  background-color: #c3c3c3;
  font-weight: 400;
}

.tabs-dropdown .tab-link:hover {
  color: #5d5d5c;
  background-color: #f4f4f4;
  font-weight: 400;
}

button.navbar-toggler:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto;
}

.dropdown-item {
  color: #089b93;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.tab-item.active,
.tab-item:active,
.dropdown-item.active,
.dropdown-item:active {
  color: #089b93;
  background-color: rgba(0, 0, 0, 0.1);
}

:focus {
  outline: none;
}

.tab {
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, .15);
  background-color: #c3c3c3;
  color: #1a757c;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
}

.tab li {
  background-color: inherit;
  float: left;
  border: rgba(0, 0, 0, .15);
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab li:hover {
  color: #5d5d5d;
}

.tab li.active {
  background-color: rgba(0, 0, 0, .15);
  border: rgba(0, 0, 0, .15);
}

/* custom dashboard tabs from w3schools howto */
/* hides the tab content and uses js to change when tab is active */
.tabcontent {
  display: none;
}

#div-profile-image img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/* main templates */

.template-container {
  margin-top: 77px;
  position: relative;
}

/* SECTION-CONTENT STYLING */
.section-content {
  padding: 10px 20px 80px;
  margin-top: 10px;
}

.legend-border {
  border-bottom: 0.5px solid rgba(0, 0, 0, .15);
  margin-bottom: 0.8rem;
}

/* button styling */
.btn-outline-primary {
  color: #11a1a8;
  border-color: #11a1a8;
}

.btn-outline-primary:hover {
  color: #c3c3c3;
  background-color: #11a1a8;
  border-color: #11a1a8;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
  color: #c3c3c3;
  background-color: #11a1a8;
  border-color: #11a1a8;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(17, 161, 168, .5);
}

.btn-outline-danger {
  color: #352721;
  border-color: #352721;
}

.btn-outline-danger:hover {
  color: #c3c3c3;
  background-color: #352721;
  border-color: #352721;
}

.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.show>.btn-outline-danger.dropdown-toggle {
  color: #c3c3c3;
  background-color: #352721;
  border-color: #352721;
}

.btn-outline-danger.focus,
.btn-outline-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(53, 39, 33, 0.5);
}


/* accordion styling for retrieved database content */
.accordion-label {
  width: 100%;
  padding: 0 20px;
  cursor: pointer;
  transition: background-color 0.2s;
  color: #089b93;
}


.accordion-label::after {
  content: '\25BC';
  float: right;
}

.accordion-label:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* dynamic  */
.accordion-content {
  margin-top: 5px;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  height: auto;
}

/* forms */
.custom-file-input:focus,
.form-control:focus {
  color: #352721;
  background-color: #f4f4f4;
  border-color: #1a757c;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(26, 117, 124, 0.5)
}

.custom-file-label::after {
  color: #1a757c;
  content: "Browse";
  background-color: #f4f4f4;
}


/* comment and message forms class toggled with js */
.hide {
  display: none;
  transition: display 0.4s ease-in-out;
}

.show {
  display: block;
  height: auto;
  transition: display 0.4s ease-in-out;
  overflow: scroll;
}

/* Home page */


/* home page */
/* parallax */
#home {
  padding: 0;
}

.hero {
  width: 100vw;
  height: 70vh;
  margin: 0;
  background-color: #352721;
  background: url('../images/hero-web-export-1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  z-index: -1;
  overflow-x: hidden;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70vh;
  margin-top: 77px;
  z-index: 1;
}



ul#impact {

  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  place-items: center;
  height: 50vh;
}

#upsell {
  background-color: #11a1a8;
  color: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;

}

.dot::after {
  content: ".";
  background-color: #352721;

}

span.upsell-logo {
  width: 100px;
  height: 50px;
  position: relative;
  bottom: 0;
  left: 0;
}

#workflow {
  margin-top: 5vh;
  margin-bottom: 3vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.card-title {
  text-transform: capitalize;
}

.project-card,
.profiles-card,
.pieces-card,
.blog-card,
.dashboard-card,
.messages-card {
  position: relative;
}


.project-card::before {
  content: url("../images/cf-icon-project-ideas.svg");
  width: 100px;
  height: 100px;
  position: absolute;
  align-self: center;
  top: -30px;
}

.profiles-card::before {
  content: url("../images/cf-icon-profiles.svg");
  width: 100px;
  height: 100px;
  position: absolute;
  align-self: center;
  top: -30px;
}

.pieces-card::before {
  content: url("../images/cf-icon-pieces.svg");
  width: 100px;
  height: 100px;
  position: absolute;
  align-self: center;
  top: -30px;
}

.blog-card::before {
  content: url("../images/cf-icon-blog.svg");
  width: 100px;
  height: 100px;
  position: absolute;
  align-self: center;
  top: -30px;
}

.dashboard-card::before {
  content: url("../images/cf-icon-dashboard.svg");
  width: 100px;
  height: 100px;
  position: absolute;
  align-self: center;
  top: -30px;
}

.messages-card::before {
  content: url("../images/cf-icon-messages.svg");
  width: 100px;
  height: 100px;
  position: absolute;
  align-self: center;
  top: -30px;
}

/* Footer */
footer {
  background-color: #5d5d5c;
  color: #afbdb8;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

/* media queries */
/* TODO ADD MEDIA QUERY FOR FLASHED MESSAGES ON MEDIUM SCREENS */

/* set recaptcha widget size for mobile */
/* taken from 
https://geekgoddess.com/how-to-resize-the-google-nocaptcha-recaptcha/ */
@media screen and (max-height: 575px) {

  #rc-imageselect,
  .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}