html,
body {
  margin: 2.4rem 0 0 0;
  padding: 0;
  background-color: #eaeaea;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #444444;
}

/* BASE */

/* navbar */
.navbar {
  border-bottom: #070bc0 0.05rem solid;
  background-color: #c3c6ca;
}

.dropdown-menu {
  color: #080d84c7;
  background-color: #c3c6ca;
  background-clip: padding-box;
  border: 0.5px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
}


.navbar-light .navbar-nav .nav-link {
  color: #080d84c7;
}

.dropdown-item {
  color: #080d84c7;
}

.navbar-nav .nav-link:hover {
  color: #21254e;
  font-weight: 400;
  font-size: 1.1em;
}

.navbar-nav .nav-link.active {
  font-weight: 500;
}

.dropdown-item:hover {
  color: #21254e;
  background-color: #c3c6ca;
  font-weight: 400;
  font-size: 1.1em;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

/* background for templates */

.template-container {
  background-color: #eaeaea;
}

/* section styling */
.section-content {
  padding: 10px 20px;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
  margin-top: 30px;
}

.neu {
  border-radius: 27px;
  background: linear-gradient(145deg, #fafafa, #d3d3d3);
  box-shadow: 6px 6px 12px #cccccc,
    -6px -6px 12px #ffffff;
}

/* accordion styling for retrieved database content */
.accordion-label {
  width: 100%;
  padding: 14px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

span.title {
  font-weight: 500;
  font-size: 18px;
  color: #080d84c7;
}

.accordion-label::after {
  content: '\25BC';
  float: right;
}

.accordion-label:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.accordion-content {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}


/* dashboard */
#div-profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

table,
th {
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 0.3em;
}

th {
  padding: 5px;
  text-align: left;
  font-size: 0.8rem;
  width: 125px;
}

td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
  text-align: left;
  font-size: 0.8rem;
}

th {
  width: 7em;

}