/* google fonts */

/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Muli', sans-serif; */

body {
  /* background-color: #f4f4f4; */
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #0a3235;
  position: relative;
  min-height: 100vh;
}

/* Typography */
.secondary-title {
  color: #0a3235;
  font-weight: 300;
  margin-bottom: 0;
  font-size: 0.7rem;
}

h5 {
  color: #089b93;
}

small {
  color: #8d8d8d;
}

legend,
label {
  color: #352721;
  letter-spacing: 0.03em;
}

legend {
  font-size: 1.2rem;
  margin: 1.3em 0;
  padding: 0.5rem;
}

/* used in the accordions */
span.title {
  font-weight: 500;
  font-size: 18px;
  color: #089b93;
}

a,
a:not([href]) {
  color: #089b93;
  text-decoration: none;
  background-color: transparent;
}

a:hover,
a:not([href]):hover {
  color: #089b93;
  text-decoration: none;
  background-color: transparent;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

li:hover>a {
  cursor: pointer;
  color: #5d5d5c;
}

.comments {
  color: #089b93;
}

/* Main Site Navigation and Dashboard Tabs */

.navbar {
  /* maybe add border-bottom */
  background-color: #f4f4f4;
  border-bottom: 0.5px solid rgba(0, 0, 0, .15);
}

.navbar-light .navbar-nav .nav-link {
  color: #089b93;
}

.navbar-light .navbar-toggler {
  color: #17a2b8;
  border-color: #17a2b8;
}

nav.dash-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.dash-nav .tabs-dropdown {
  float: none;
}

.dash-nav .tab-link:active,
.navbar-nav .nav-link.active {
  font-weight: 500;
}

.dash-tabs>li {
  display: inline-block;
  /* border-color: rgba(0, 0, 0, .15) rgba(0, 0, 0, .15) rgba(0, 0, 0, .15); */
}

.dropdown-menu {
  top: 40%;
  left: 0;
  z-index: 1000;
  display: none;
  text-align: left;
  list-style: none;
  color: #089b93;
  border: 0.5px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;

}

.tabs-dropdown {
  color: #089b93;
  background-color: #c3c3c3;
  border: 0.5px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
}

.tab-item {
  display: block;
  width: 100%;
  padding: .25rem 0.75rem;
}

.tabs-dropdown {
  position: absolute;
  display: none;
  z-index: 1000;
}

.tabs-dropdown li {
  position: relative;
}

.dash-tabs>li:hover .tabs-dropdown {
  display: block;
  color: #5d5d5c;
}

.dash-tabs .tab-item:hover,
.dropdown-item:hover {
  color: #5d5d5c;
  background-color: #c3c3c3;
  font-weight: 400;
}

.tabs-dropdown .tab-link:hover {
  color: #5d5d5c;
  background-color: #f4f4f4;
  font-weight: 400;
}

button.navbar-toggler:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto;
}

.dropdown-item {
  color: #089b93;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.tab-item.active,
.tab-item:active,
.dropdown-item.active,
.dropdown-item:active {
  color: #089b93;
  background-color: rgba(0, 0, 0, 0.1);
}

:focus {
  outline: none;
}

.tab {
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, .15);
  background-color: #c3c3c3;
  color: #1a757c;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
}

.tab li {
  background-color: inherit;
  float: left;
  border: rgba(0, 0, 0, .15);
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab li:hover {
  color: #5d5d5d;
}

.tab li.active {
  background-color: rgba(0, 0, 0, .15);
  border: rgba(0, 0, 0, .15);
}

/* custom dashboard tabs from w3schools howto */
/* hides the tab content and uses js to change when tab is active */
.tabcontent {
  display: none;
}

#div-profile-image img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/* main templates */

.template-container {
  background-color: #c3c3c3;
  margin-top: 77px;
  position: relative;
  min-height: 100vh;
}

/* SECTION-CONTENT STYLING */
.section-content {
  padding: 10px 20px 80px;
  margin-top: 10px;
}

.legend-border {
  border-bottom: 0.5px solid rgba(0, 0, 0, .15);
  margin-bottom: 0.8rem;
}

/* button styling */
.btn-outline-primary {
  color: #11a1a8;
  border-color: #11a1a8;
}

.btn-outline-primary:hover {
  color: #c3c3c3;
  background-color: #11a1a8;
  border-color: #11a1a8;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
  color: #c3c3c3;
  background-color: #11a1a8;
  border-color: #11a1a8;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(17, 161, 168, .5);
}

.btn-outline-danger {
  color: #352721;
  border-color: #352721;
}

.btn-outline-danger:hover {
  color: #c3c3c3;
  background-color: #352721;
  border-color: #352721;
}

.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.show>.btn-outline-danger.dropdown-toggle {
  color: #c3c3c3;
  background-color: #352721;
  border-color: #352721;
}

.btn-outline-danger.focus,
.btn-outline-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(53, 39, 33, 0.5);
}


/* accordion styling for retrieved database content */
.accordion-label {
  width: 100%;
  padding: 0 20px;
  cursor: pointer;
  transition: background-color 0.2s;
  color: #089b93;
}


.accordion-label::after {
  content: '\25BC';
  float: right;
}

.accordion-label:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* dynamic  */
.accordion-content {
  margin-top: 5px;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  height: auto;
}

/* forms */
.form-control:focus {
  color: #352721;
  background-color: #f4f4f4;
  border-color: #1a757c;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(26, 117, 124, 0.5)
}


/* comment and message forms class toggled with js */
.hide {
  display: none;
  transition: display 0.4s ease all;
}

.show {
  display: block;
  height: auto;
  transition: display 0.4s ease all;
  overflow: scroll;
}

footer {
  background-color: #5d5d5c;
  color: #afbdb8;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 10px 20px;
}

/* media queries */
/* TODO ADD MEDIA QUERY FOR FLASHED MESSAGES ON MEDIUM SCREENS */

/* set recaptcha widget size for mobile */
/* taken from 
https://geekgoddess.com/how-to-resize-the-google-nocaptcha-recaptcha/ */
@media screen and (max-height: 575px) {

  #rc-imageselect,
  .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}