{% block nav %}

<header class="nav">
    <nav class="navbar navbar-light navbar-expand-md fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/"><img src="{{ url_for('static', filename='images/cf-logo-tq.png') }}"
                    width="100" height="50" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- LOGGED AND LOGGED OUT VIEWS -->
            <!-- for logged in Left side Navbar -->
            {% if 'username' in session %}
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
                    <a class="nav-item nav-link" href="{{ url_for('blog') }}">Blog</a>
                    <a class="nav-item nav-link" href="{{ url_for('projects') }}">Projects</a>
                    <a class="nav-item nav-link" href="{{ url_for('profiles') }}">Profiles</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{ url_for('dashboard')}}">Dashboard</a>
                    <li class="nav-item dropdown " data-toggle="tooltip" title="Hover to view, click to select.">
                        <a class="nav-link dropdown-toggle mr-4" id="navbardrop" data-toggle="dropdown">
                            Post</a>
                        <div class="dropdown-menu" aria-labelledby="navbardrop">
                            <a class="dropdown-item" href="{{ url_for('add_article') }}">New Blog Article</a>
                            <a class="dropdown-item" href="{{ url_for('add_project') }}">New Project</a>
                            <a class="dropdown-item" href="{{ url_for('add_profile') }}">Create Profile</a>
                        </div>
                    </li>
                    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                    <div id="div-profile-image"><a class="navbar-brand ml-4" href=""><img
                                src="{{ url_for('static', filename='images/gear-avatar.png') }}"
                                alt="user-profile-image" width="50" height="50"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- for logged out Left side Navbar -->
        {%  else %}
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
                <a class="nav-item nav-link" href="{{ url_for('blog') }}">Blog</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
            </div>
        </div>
        {% endif %}
        </div>
    </nav>
</header>

{% endblock nav %}